<div class="article-list">
    <table mat-table [dataSource]="articles" class="mat-elevation-z8">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let article; let i = index;"> {{i + 1}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let article">
                 <a href="{{article.url}}" target="_blank">{{article.name}}</a>
            </td>
        </ng-container>
        
        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let article">
                <mat-form-field>
                    <mat-select [(ngModel)]="article.category" (selectionChange)="onSelectCategory(article.id, $event.value)">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                        <mat-option [value]="" *ngIf="categories.length === 0">No categories created</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>    
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>