<div class="category-detail">
    <h2>Category Detail</h2>

    <p><b>Category ID: </b>{{category.id}}</p>
    <p><b>Category Name: </b>{{category.name}}</p>

    <h3>Articles List</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles; let idx = index;">
                <td>{{idx + 1}}</td>
                <td>{{article.name}}</td>
            </tr>
        </tbody>
    </table>
</div>